.wrapper {
  margin: 0px auto 74px;
  padding: 20px 20px 20px 35px;
  .row {
    border-bottom: 1px solid #ccc;
    padding: 20px;
    text-align: left;
    word-wrap: break-word;
  }
}
input[type="submit"].btn-block{
  margin: 15px 0;
}

.container{
  padding-bottom: 85px;
}
ul{
  padding: 0;
}

.child li {
  padding-top: 13px;
  border-bottom: 1px dotted #ccc;
  list-style-type: none;
}

.right {
text-align: right;
}

.left {
text-align: left;
}